$sabrozzini-primary-color: #D32A26;
$sabrozzini-secondary-color: #f5f5f5;
$sabrozzini-gray-color:#9E9E9E;

$colorLightGrey: #FAFAFA ;
$colorGrey: #E0E0E0 ;
$colorGrey1: #eeeded ;
$colorGrey2: #9E9E9E ;
$colorGrey3: #616161 ;
$colorGrey4: #424242 ;

$ColorWhite: #fff;
$ColorBlack: #000;
$ColorDark: #212121;

$background-color: $sabrozzini-secondary-color;
$border-color: #D32A26;
$menu-font-color: #D32A26;
$menu-font-color-alt: whitesmoke;

$border-primary-color: $sabrozzini-primary-color;
